<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            background-color: #5b9bf5;
        }
         #dharm {
            background-color: red;
         }
    </style>
</head>
<body>
    <div id="dharm">
        {% if dharm_bday %}
            <h1>Yo Its Dharmender Choudhary Birthday Today.</h1>

        {% else %}e
            <h1>No Today Is Not Dharmender's Birthday</h1>

        {% endif %}
    </div>
</body>
</html>
