<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            background-color: #e33d3d;
        }
         #hoodooloo {
            background-color: #1ea0e6;
         }
    </style>
</head>
<body>
    <div id="hoodooloo">
        {% if Bhaskar_bday %}
            <h1>Yo Its Bhaskar Sharma Birthday Today.</h1>

        {% else %}
            <h1>No Today Is Not Bhaskar's Birthday</h1>

        {% endif %}
    </div>
</body>
</html>
