<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            background-color: #50e66e;
        }
        #aman {
            background-color: blue;
         }
    </style>
</head>
<body>
    <div id="aman">
        {% if aman_bday %}
            <h1>Yo Its Aman Pratap Singhs Birthday Today.</h1>
        {% else %}
            <h1>No Today Is Not Aman's Birthday</h1>
        {% endif %}
    </div>
</body>
</html>
