<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            background-color: #e33b9d;
        }
         #prago {
            background-color: #5bf5cc;
         }
    </style>
</head>
<body>
    <div id="prago">
        {% if pragatti_bday %}
            <h1>Yo Its Pragati Priya Birthday Today.</h1>

        {% else %}
            <h1>No Today Is Not Pragati's Birthday</h1>

        {% endif %}
    </div>
</body>
</html>
